// ==========================================================================
// Footer
// ==========================================================================

.footer {
  padding: $gutters;
  text-align: $text--center;

  @include e(link) {
    color: $salmon;
  }
}
